img{
  width: 50px;
}


@media (min-width: 700px) { 
  img{
  margin-left: -25px;
}

  .divrow{
  text-align: center;
  }
  .navbar{
 text-align: center;
}

a.navbar-brand{
 text-align: center;
}
}

.nav-item :active{
  color:  #feda6a ;
  
  
}
div.row{
 text-align: center;
}

.navbar {
  align-items: center;
  width: 100%;
  margin: 15px 0px 0px 20px;

  }

  