img{
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.post{
  border: 0.125em solid #d4d4dc;
  border-radius:  10px;
  padding: 1.5em;
  margin: 1em auto;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #414141;
}

h2{
  font-family: 'Sedgwick Ave', cursive;
  margin-top: 28px;
}

hr{
  border: 0.045em solid #feda6a;
  width: 50%;
  margin-bottom: 50px;
  margin-top: 1px;
}

div.img-container{
  padding: 20px;
}

p.parrafoTexto:first-child{
  color: #feda6a;
  font-size: 21px;
}

p.parrafoTexto{
  color: rgb(190, 190, 190);
  font-size: 16px;
}

h3{
  font-family: 'Sedgwick Ave', 'cursive';
  align-items: center;
  margin-top: 30px;
  text-align: center;
  color: #feda6a;
}