



<div class="row">
<app-navbar></app-navbar>
  <div class="col-lg-12">
    <img class="img-fluid" src="assets/images/bannerhometres.jpg" />
  </div>
</div>



<div class="main-component">
  <router-outlet></router-outlet>
</div>


<footer>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <img class="img-fluid" src="assets/images/footerhomedos.jpg" />
      </div>
    </div>
    <small class="text-center text-light p-4">Blog Málaga Alternativa -Charo Glez-</small>
  </div>
</footer>