hr{
  border: 0.125em solid #feda6a;
  width: 50%;
}

tbody tr:hover{
  background-color: #9fa2a5;
}

button{
  width: 75px;
  color: #393f4d;
}

h3{
  font-family: 'Sedgwick Ave', 'cursive';
  margin-left: 20px;
  margin-top: 30px;
}

@media(max-width: 899px){
  .hide-width{
    display: none;
  }

}