form{
  max-width: 600px;
  color: white;
  margin: auto;
}

textarea{
  resize: none;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
  outline: none;
  border-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(170, 221, 255);
  background-color: rgb(255, 255, 255);
}

input.ng-valid.ng-touched,select.ng-valid.ng-touched,textarea.ng-valid.ng-touched{
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 10px #c2c2c2;
}